body {
    height: 100%;
    background-image: url('../images/bg.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.divElement {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.divElement2 {
    position: absolute;
    top: 75%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}